/****** VARIABLES ******/

:root {
    
  /*COLORS*/
  --body-bg: lightgray;
  --bg: white;
  --text-color: white;
  --accent-color:  #4343da;
  --accent-color-two: #2c9e2c;  
  --focus-color: #e75d5d;
  
  /*BORDER RADIUS*/
  --br-small: .5rem;
  --br-soft: 1.5rem;
  --br-round: 50%;
  
  /*FONT SIZES*/
  --fs-s: 1rem;
  --fs-m: 1.5rem;
  --fs-l: 2rem;
}

/****** MARGIN AND PADDING RESET ******/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/******* GLOBAL STYLES *******/

/*CSS FROM PROJECT FILES*/
body {
  background-color: var(--body-bg);
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Poppins', sans-serif;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type="radio"]{
  display: none;
}

/*====== lAYOUT ======*/

.radio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio-field {
  max-width: 800px;
  min-height: 300px;
  background-color: var(--bg);
  padding: 2rem;
  border: 2px solid #333;
  border-radius: var(--br-small);
  box-shadow: 1rem 1rem #777;

  display: flex;
  gap: 2rem;
}

/*====== LEGEND AND LABEL STYLING ======*/

 .radio-legend {
  background-color: var(--accent-color);
  font-size: var(--fs-l);
  color: var(--text-color);
  font-weight: 600;
  padding: 1rem 2rem;
  margin: 0 auto 2rem auto;
  border-radius: var(--br-small);
}

.radio-field label {
  font-size: var(--fs-l);
  text-align: center;
  padding: 1.5rem;
  border-radius: var(--br-small);
  border: 5px solid var(--body-bg);
  cursor: pointer;
  transition: 0.3s ease;
}

.radio-field label:hover {
  border: 5px solid var(--accent-color-two);
  border-radius: var(--br-soft);
}

.radio-field label:focus {
  border-radius: var(--br-soft);
  outline: 3px solid var(--focus-color); 
}


/*====== MEDIA QUERY ======*/

@media (max-width: 700px) {
  .radio-field {
    min-height: 550px;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }
}